/* Copyright 2024 @DarleenFairy33 On github.com */

body{
  background-color: black;
  color: deeppink;
}

.Heading{
  text-align: center;
  font-family: monospace;
  font-weight: 500;
  font-style: italic;
}

form{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 55px;
  text-align: center;
  font-family: monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  border: 1.5px;
  border-color: deeppink;
}

.nextbutton{
  background-color: none;
  padding-top: 0.5in;
  text-align: right;
}

.next-button{
  background-color: deeppink;
  border-style: solid;
  border: 2.5px;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  color: black;
  font-family: monospace;
  font-size: 15px;
  text-align: right;
}

.Horizontal-Line{
  color: red;
}

footer{
  text-align: center;
}

nav{
  text-align: center;
  font-size: 25px;
  font-family: monospace;
}

/* Copyright 2024 @DarleenFairy33 On github.com */