/* Copyright 2024 @DarleenFairy33 On github.com */
html {
  background-color: black;
}
.Darleen {
  /* Main Text & Page CSS */
  background-color: rgb(35, 35, 35);
  font-family: monospace;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: none;
  color: chartreuse;
  padding-left: 0.5in;
  padding-right: 0.5in;
  padding-top: none;
}

header {
  /* Heading CSS */
  background-color: rgb(35, 35, 35);
  text-align: center;
  font-family: monospace;
  font-style: normal;
  font-size: 25px;
  color: chartreuse;
}

nav {
  /* Navbar CSS */
  background-color: rgb(35, 35, 35);
  text-align: center;
  font-size: 25px;
  font-family: monospace;
}

aside{
  /* Sidebar CSS */
  float: left;
  color: chartreuse;
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
  background-color: forestgreen;
  border-top: 10px;
  border-right: 10px;
  border-bottom: 10px;
  border-color: chartreuse;
}

footer{
  /* Footer CSS */
  color: chartreuse;
  text-align: center;
}

.Section1{
  /* Main Text & Page CSS */
  background-color: rgb(35, 35, 35);
  font-family: monospace;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: none;
  color: chartreuse;
  padding-left: 0.5in;
  padding-right: 0.5in;
  padding-top: none;
}

.nextbutton{
  background-color: none;
  padding-top: 0.5in;
  text-align: right;
}

.next-button{
  background-color: chartreuse;
  border-style: solid;
  border-color: rgb(81, 173, 78);
  border: 2.5px;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  color: black;
  font-family: monospace;
  font-size: 15px;
  text-align: right;
}

.Horizontal-Line{
  color: red;
}

.Section2{
  /* Main Text & Page CSS */
  background-color: rgb(35, 35, 35);
  font-family: monospace;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: none;
  color: chartreuse;
  padding-left: 0.5in;
  padding-right: 0.5in;
  padding-top: none;
}

/* Copyright 2024 @DarleenFairy33 On github.com */