.Darleen {
  /* Main Text & Page CSS */
  background-color: black;
  font-family: monospace;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: none;
  color: chartreuse;
}
