body{
  background-color: black;
  font-family: monospace;
  color: aqua;
}

header{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  background-color: rgb(35, 35, 35);
}

nav{
  background-color: rgb(35, 35, 35);
  text-align: center;
  font-size: 25px;
}

.section1{
  background-color: rgb(35, 35, 35);
}

.WebDev101-C-ENG{
  background-color: rgb(35, 35, 35);
  text-align: center;
}